<div class="card">
        <div class="card-header" style='text-align: center'>
          {{pageTitle}}
          <button class="btn btn-info" style="margin: 5px" (click)="normalSplit()">Normal Split</button>
            <button class="btn btn-info" style="margin: 5px" (click)="percentSplit()">Weighted Split %</button>
        </div>
        <div class="card-body">
            <div class='table-responsive' *ngIf='showNormalTable'>
                <table class='table' 
                *ngIf='friends && friends.length'> 
                    <thead>
                        <tr>
                            <th>Friends</th>
                            <th *ngIf='splitedExpense && showExpPerHead'>Expense Per Head</th>
                            <th>Action</th>
                        </tr>
    
                    </thead>
                    <tbody>
                        <tr *ngFor="let field of friends; let i = index">
                            <td>
                                <input [(ngModel)]="field.friendName" class="form-control" type="text" name="{{field.friendName}}" disabled/>
                            </td>
                            <td *ngIf='splitedExpense && showExpPerHead'>
                                {{splitedExpense}}
                            </td>
                            <td>
                                <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" type="text" id="newAttributeCode" required pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="newAttribute.friendName" name="newAttributeCode" #name="ngModel" />
                            </td>
                            <td *ngIf='splitedExpense && showExpPerHead'>
                                  
                            </td>
                            <td>
                                <button class="btn btn-default" type="button" (click)="addFieldValue()">Add Friend</button>
                            </td>
                        </tr>
            
                    </tbody>   
                    <div style = "margin-top: 10px;align-items: right" [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        <span [hidden]="!name.hasError('required')">Name is required</span>
                        <span [hidden]="!name.hasError('pattern')">Only alphabets Allowed</span>
                    </div>         
                </table>
                


            </div>
            <!-- End Code for Normal Split -->

            <!--Code for Percent Split-->
            <div class='table-responsive' *ngIf='showPercentTable'>
                    <table class='table' 
                    *ngIf='friends && friends.length'> 
                        <thead>
                            <tr>
                                <th>Friends</th>
                                <th>Enter Weightage (100%)</th>
                                <th>Expense Per Head</th><!--*ngIf='friends.percentPay'-->
                                <th>Action</th>
                            </tr>
        
                        </thead>
                        <tbody>
                            <tr *ngFor="let field of friends; let i = index">
                                <td>
                                    <input [(ngModel)]="field.friendName" class="form-control" type="text" name="{{field.friendName}}" disabled/>
                                </td>
                                <td>
                                    <input [(ngModel)]="field.weightageAssigned" class="form-control" type="number" max="100" min="0" name="{{field.weightageAssigned}}" (input)="lessThanHun();" />
                                </td>
                                <td>
                                    <input [(ngModel)]="field.percentPay" class="form-control" type="number" name="{{field.percentPay}}" disabled/>
                                </td>
                                <td>
                                    <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.friendName" name="newAttributeCode" required minlength="4" appForbiddenName="bob" #name="ngModel" />
                                </td>
                                <td>
                                    <input class="form-control" type="number" max="100" min="0" id="newAttributeCode" [(ngModel)]="newAttribute.weightageAssigned" name="newAttributeCode" (input)="lessThanHun();" />
                                </td>
                                <td>
                                    <input class="form-control" type="number" id="newAttributeCode" [(ngModel)]="newAttribute.percentPay" name="newAttributeCode" disabled/>
                                </td>
                                <td>
                                    <button class="btn btn-default" type="button" (click)="addFieldValue()">Add Friends</button>
                                </td>
                            </tr>
                
                        </tbody>            
                    </table>
    
    
                </div>

                <!--End Code for Percent Split-->

        </div>
        <div class="card-footer" style='text-align: center'>
            <normal-split *ngIf='showNormalTable' [friends]='friends' [expenses]='expenses' (notify)='onNotify($event)'></normal-split>
            <percent-split *ngIf='showPercentTable' [friends]='friends' [expenses]='expenses' (notify)='onNot($event)'></percent-split>
                <!--<div class = "row">
                    <div class='col-md-2'>Splited Expenses
                    </div>
                    <div class='col-md-4'>-->
                        <!--<button type="button" class='btn btn-secondary' (click)="">click to split</button>-->
                    <!--</div>
                    <div class='col-md-4'>-->
                        <!--<input class="form-control" type="text" disabled />-->
                        <!--{{splitedExpense}}--><!--{{ callSplitterMethod() }}-->
                    <!--</div>
                </div>-->
        </div>
    </div>