<div class="card">
    <div class="card-header" style='text-align: center;'>
      {{pageTitle}}
    </div>
    <div class="card-body">
        <!--<div class='row'>
            <div class='col-md-2'>Filter By:</div>
            <div class='col-md-4'>
                <input type='text'
                    [(ngModel)] = 'listFilter'/>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h4>Filter by: {{listFilter}}</h4>
            </div>
        </div>-->
        <div class='table-responsive'>
            <table class='table' 
            *ngIf='expenses && expenses.length'> <!--*ngIf='expenses && expenses.length'-->
                <thead>
                    <tr>
                        <th>Expense On</th>
                        <th>Cost</th>
                        <th>Expense Date</th>
                        <th>Split Expense</th>
                        <th>Action</th>
                    </tr>

                </thead>
                <tbody>
                    <!--<tr *ngFor='let expense of filterExpenses'>
                        <td>{{expense.expenseName | lowercase}}</td>
                        <td>{{expense.expense | currency:'INR':'symbol':'1.2-2'}}</td>
                        <td>{{expense.expenseDate}}</td>
                    </tr>-->
                    <tr *ngFor="let field of expenses; let i = index">
                        <td>
                            <input [(ngModel)]="field.expenseName" class="form-control" type="text" name="{{field.expenseName}}"/>
                        </td>
                        <td>
                            <input [(ngModel)]="field.expense" class="form-control" type="number" min="0" name="{{field.expense}}" />
                        </td>
                        <td>
                            <input [(ngModel)]="field.expenseDate" class="form-control" type="text" name="{{field.expenseDate}}" disabled/>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="splitIndex(i)">
                                Split This Expense
                            </button>
                            <!-- The Modal -->
                                <div class="modal fade" id="myModal">
                                    <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                        <h4 class="modal-title">Split Expense</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Friends</th>
                                                    <th class="col-sm-4" *ngIf="showResult">Expense Per Head</th>
                                                    <th class="col-sm-2">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let friend of friends; let j = index">
                                                    <td> 
                                                        <input [(ngModel)]="friend.friendName" class="form-control" type="text" name="{{friend.friendName}}" style="width:400px" disabled/>
                                                    </td>
                                                    <td *ngIf="showResult">
                                                       <span style="width:400px">{{splittedExp}}</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default" type="button" (click)="deleteValue(j)">Delete</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input class="form-control" type="text" id="newFriendCode" required pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="newFriend.friendName" name="newFriendCode"/>
                                                    </td>
                                                    <td *ngIf="showResult">
                                                          
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default" type="button" (click)="addValue()">Add Friend</button>
                                                    </td>
                                                </tr>
                                    
                                            </tbody>
                                        </table>
                                        </div>
                                
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-success" (click)="normalSplitFunc();">Click to Split</button>
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                        </div>
                                
                                    </div>
                                    </div>
                                </div>
                        </td>
                        <td>
                            <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control" type="text" id="newAttributeExpName" [(ngModel)]="newAttribute.expenseName" name="newAttributeExpName" />
                        </td>
                        <td>
                            <input class="form-control" type="number" min="0" id="newAttributeExp" [(ngModel)]="newAttribute.expense" name="newAttributeExp" />
                        </td>
                        <td>
                            <input class="form-control" type="date" id="newAttributeDate" [(ngModel)]="newAttribute.expenseDate" name="newAttributeDate" />
                        </td>
                        <td>
                        </td>
                        <td>
                            <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                        </td>
                    </tr>
        
                </tbody>            
            </table>
        </div>
    </div>
</div>