<!doctype html>
<html lang="en">
  <head>
    <title>Split Expenses Html</title>

  </head>
  <body id="csss">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
          <a class="navbar-brand" style="color: black">{{pageTitle}}</a>
            <ul class="nav nav-pills text-uppercase ml-auto">
              <li class="nav-item"><a class="nav-link" [routerLink] = "['/welcome']" style="color: black">Home</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink] = "['/expenses']" style="color: black">Expense Tracker</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink] = "['/splitter']" style="color: black">Split Expense</a></li>
            </ul>
        </nav>
        <div class="container" style='margin-top: 150px'>
          <router-outlet></router-outlet>
        </div>
    </div>

  </body>
</html>